.lookup-form {
  padding: 10px;
  padding-top: 0;
}

.btn-back-arrow {
  background: transparent;
  color: #005ea2;
  padding-left: 0;
}

.btn-back-arrow:hover {
  background: transparent;
  color: rgba(0, 45, 77, 1)
}

.fa.fa-chevron-left {
  margin-right: 0.6em;
}