header {
  background-color: #252f3e;
  color: white;
  padding: 0.36em 0.6em;

  .header-container {
    display: block;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}